h1, h2, h3, h4, h5, h6, p, img, a, span, div {
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
    font-weight: 700;
    color: var(--brandColour);
    text-transform: uppercase;
    display: inline-block;
}

/* Heading underline */
h2, h3, h4, h5, h6 {
    position: relative;
}

ul + * {
    margin-top: 2rem;
}

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
    margin-top: 2rem;
}

h2::after, h3::after, h4::after, h5::after, h6::after {
    position: absolute;
    content: "";
    width: 2rem;
    height: 0.1rem;
    background-color: var(--brandColour);
    bottom: -0.2rem;
    left: 0;
}

.invert h2::after, .invert h3::after, .invert h4::after, .invert h5::after, .invert h6::after {
    background-color: var(--white);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

p, span, img, a {
    font-size: 1rem;
    color: var(--text);
}

p {
    margin-bottom: 1rem;
    line-height: 1.2;
}

.invert :is(h1, h2, h3, h4, h5, h6, p, img, a, span, div){
    color: var(--white);
}

ul.plain li {
    margin-left: 0
}

ul.plain li::before {
    content: none;
    width: 0;
    left: 0;
}

ul li {
    margin-left: 1.5rem;
    padding-bottom: 0.5rem;
    position: relative;
}

ul li::before {
    position: absolute;
    left: -1.5rem;
    width: 1rem;
    content: '\027A4';
}

strong {
    font-weight: bold;
}

a:hover {
    background-color: var(--brandColour);
    color: var(--white);
}

.invert a:hover {
    background-color: var(--white);
    color: var(--brandColour);
}

@media (max-width: 300px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    h5 {
        font-size: 1rem;
        font-weight: bold;
    }

    h6 {
        font-size: 1rem;
    }

    p, span, img, a, li {
        font-size: 0.8rem;
    }

}