$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xlg: 1440px;

$primary: rgb(37, 55, 61);
$background: rgba(37, 55, 61, 0.1);
$white: #ffffff;


@mixin link-styles($colour) {
    &:hover, &:active, &:visited, &:focus {
      color: $colour;
    }
}

@mixin bp-xs() {
    @media (min-width: $xs) {
      @content
    }
}
  
@mixin bp-sm() {
    @media (min-width: $sm) {
        @content
    }
}

@mixin bp-md() {
    @media (min-width: $md) {
        @content
    }
}

@mixin bp-lg() {
    @media (min-width: $lg) {
        @content
    }
}

@mixin bp-xlg() {
    @media (min-width: $xlg) {
        @content
    }
}